body {
	background: #eeeeee;
}
#results{
	text-align:center;
}
h1.logo-wrapper{
  margin: 0px 0px;
}
h1 span.logo-text{
  display: none;
}
nav .brand-logo {
  margin: 1px 0px;
  padding: 20px;
}
nav .brand-logo img{ 
  width: 90px;
  margin-top:15px;
}
.button-collapse i{
	font-size:1.8em !important;
}
/*
button {
    width: 100%;
    height: 30px;
}*/
